* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main-title {
	margin: 40px;
	text-align: center;
}

.poke-list {
	display: flex;
	flex-wrap: wrap;
}
